.hlr{
    font-family: 'Roboto', sans-serif;
    color: #333333;
}
.hlr-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    background-color: #333333;
    cursor: pointer;
}
.hlr-btn:hover{
    color: #333333;
    background-color: #FFFFFF;
}
.hlr-btn--acid{
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    background: -o-linear-gradient(357.85deg, #64E408 15.86%, rgba(255, 255, 255, 0) 91.06%), #04CE9B;
    background: linear-gradient(92.15deg, #64E408 15.86%, rgba(255, 255, 255, 0) 91.06%), #04CE9B;
}
.hlr-btn--acid:hover{
    background: #64E408;
}
/*hero*/
.hlr-hero{
    padding: 85px 0 97px 0;
    background: -o-linear-gradient(347.65deg, rgba(255, 255, 255, 0) 0%, #64E408 100%), #04CE9B;
    background: linear-gradient(102.35deg, rgba(255, 255, 255, 0) 0%, #64E408 100%), #04CE9B;
}
.hlr-hero__img{
    position: absolute;
    right: 150px;
    bottom: -117px;
    z-index: 1;
}
.hlr-hero__img img{
    margin: 0 auto;
}
.hlr-hero__img-desc{
    display: block;
}
.hlr-hero__img-mob{
    display: none;
}
.hlr-hero__sms{
    position: absolute;
    top: 105px;
    right: 170px;
}
.hlr-hero-sms{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 232px;
    height: 38px;
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 19px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: -4px 4px 20px rgba(51, 51, 51, 0.2);
}
.hlr-hero-sms:nth-child(2){
    margin-left: -38px;
}
.hlr-hero-sms:after{
    content: "";
    position: absolute;
    top: 100%;
    right: 8px;
    width: 0;
    height: 0;
    border-top: 7px solid #FFFFFF;
    border-left: 7px solid transparent;
    box-shadow: -4px 4px 20px rgba(51, 51, 51, 0.2);
}
.hlr-hero-sms--active{
    color: #04CE9B;
}
.hlr-hero-sms--inactive{
    color: #EB5757;
}
.hlr-hero-sms__icon{
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -9px;
}
.hlr-hero__content{
    width: 100%;
    max-width: 530px;
}
.hlr-hero__title{
    font-size: 36px;
    line-height: 46px;
    text-align: left;
}
.hlr-hero__text{
    margin-top: 27px;
    font-size: 18px;
    line-height: 21px;
}
.hlr-hero__icons{
    display: flex;
    align-items: center;
    margin: 42px 0 33px 0;
}
.hlr-hero-icon{
    display: flex;
    align-items: center;
}
.hlr-hero-icon:not(:last-child){
    margin-right: 50px;
}
.hlr-hero-icon__img{
    min-width: 53px;
    width: 53px;
    height: 53px;
}
.hlr-hero-icon__text{
    margin-left: 10px;
    font-size: 18px;
    line-height: 21px;
}
/*benefits*/
.hlr-benefits{
    padding: 129px 0 197px 0;
}
.hlr-benefits__title-sup{
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #04CE9B;
}
.hlr-benefits__title{
    max-width: 680px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 40px;
}
.hlr-benefits__title-sub{
    max-width: 705px;
    margin: 0 auto;
    margin-top: 27px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #81859C;
}
.hlr-benefits__items{
    margin-top: 113px;
}
.hlr-benefits-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.hlr-benefits-item:not(:last-child){
    margin-bottom: 190px;
}
.hlr-benefits-item:nth-child(2) img{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: -4px 4px 20px rgba(51, 51, 51, 0.2);
}
.hlr-benefits-item__img{
    max-width: 500px;
}
.hlr-benefits-item__content{
    width: 100%;
    max-width: 452px;
}
.hlr-benefits-item:nth-child(even) .hlr-benefits-item__content{
    order: 1;
}
.hlr-benefits-item:nth-child(even) .hlr-benefits-item__img{
    order: 2;
}
.hlr-benefits-item__title{
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
}
.hlr-benefits-item__title:before{
    content: "";
    display: block;
    width: 68px;
    height: 2px;
    margin-bottom: 35px;
    background-color: #04CE9B;
}
.hlr-benefits-item__text{
    margin-top: 32px;
    font-size: 18px;
    line-height: 21px;
}
.hlr-benefits__btn{
    display: flex;
    justify-content: center;
    margin-top: 85px;
}
/*how*/
.hlr-how{
    padding-bottom: 187px;
}
.hlr-how__title{
    max-width: 600px;
    margin: 0 auto;
}
.hlr-how__items{
    margin-top: 75px;
}
.hlr-how-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.hlr-how-item:not(:last-child){
    margin-bottom: 85px;
}
.hlr-how-item__content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 415px;
}
.hlr-how-item__number{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 61px;
    height: 61px;
    border: 2px solid #64E408;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #64E408;
}
.hlr-how-item__number:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 355px;
    height: 2px;
    margin-top: -1px;
    background: transparent url('../img/hlr/hlr-how-line.svg') center center no-repeat;
}
.hlr-how-item__title,
.hlr-how-item__text{
    width: 100%;
    max-width: 330px;
    margin-left: 85px;
}
.hlr-how-item__title{
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
}
.hlr-how-item__text{
    margin-top: 18px;
    font-size: 16px;
    line-height: 26px;
}
.hlr-how-item__img{
    max-width: 600px;
}
.hlr-how-item__img img{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: -4px 4px 20px rgba(51, 51, 51, 0.2);
}
.hlr-how-item:nth-child(even) .hlr-how-item__content{
    order: 2;
    align-items: flex-end;
}
.hlr-how-item:nth-child(even) .hlr-how-item__img{
    order: 1;
}
.hlr-how-item:nth-child(even) .hlr-how-item__number:after{
    left: auto;
    right: 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.hlr-how-item:nth-child(even) .hlr-how-item__title,
.hlr-how-item:nth-child(even) .hlr-how-item__text{
    margin-right: 85px;
    margin-left: 0;
}
/*request*/
.hlr-request{
    padding-bottom: 175px;
}
.hlr-request__title{
    max-width: 680px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 40px;
}
.hlr-request__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hlr-request-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    margin-top: 36px;
}
.hlr-request-item__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    margin-bottom: 19px;
}
.hlr-request-item__text{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
/*check*/
.hlr-check{
    padding-bottom: 140px;
}
.hlr-check__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hlr-check__text{
    width: 100%;
    max-width: 470px;
}
.hlr-check__title{
    text-align: left;
}
.hlr-check__description{
    margin-top: 15px;
    font-size: 16px;
    line-height: 26px;
}
.hlr-check__form{
    position: relative;
    width: 100%;
    max-width: 360px;
}
.hlr-check__form-inner{
    position: relative;
    width: 100%;
    min-height: 251px;
    padding: 37px 0 61px 0;
    box-shadow: -4px 4px 20px rgba(51, 51, 51, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    z-index: 2;
}
.hlr-check__form:before{
    content: "";
    position: absolute;
    top: -27px;
    right: -30px;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: -o-linear-gradient(313.23deg, #64E408 0%, rgba(255, 255, 255, 0) 97.09%), #04CE9B;
    background: linear-gradient(136.77deg, #64E408 0%, rgba(255, 255, 255, 0) 97.09%), #04CE9B;
    z-index: -1;
}
.hlr-check__form-start,
.hlr-check__form-pending{
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
}
.hlr-check__form_error:after{
    content: "";
    position: absolute;
    top: 226px;
    left: 344px;
    width: 238px;
    height: 86px;
    background: transparent url('../img/hlr/hlr-check-arrow.svg') center center no-repeat;
    background-size: contain;
    z-index: 3;
}
.hlr-check-info{
    position: absolute;
    top: -27px;
    left: 136px;
    width: 250px;
    height: 250px;
    padding-top: 27px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: -o-linear-gradient(313.23deg, #64E408 0%, rgba(255, 255, 255, 0) 97.09%), #04CE9B;
    background: linear-gradient(136.77deg, #64E408 0%, rgba(255, 255, 255, 0) 97.09%), #04CE9B;
    font-weight: 500;
    font-size: 0;
    line-height: 35px;
    transition: all 0.25s;
    visibility: hidden;
}
.hlr-check-info_opened{
    width: 1000px;
    visibility: visible;
    font-size: 18px;
}
.hlr-check-info__close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.hlr-check-info__row{
    display: flex;
    justify-content: flex-end;
}
.hlr-check-info__col:nth-child(1){
    width: 100%;
    max-width: 240px;
    margin-left: 60px;
}
.hlr-check-info__col:nth-child(2){
    width: 100%;
    max-width: 300px;
    margin-left: 136px;
    color: #FFFFFF;
}
.hlr-check__form-error{
    display: none;
    position: absolute;
    bottom: 15px;
    left: 48px;
    width: 275px;
    margin-top: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #F52A2A;
}
.hlr-check__form_error .hlr-check__form-error{
    display: flex;
}
.hlr-check__form-error svg{
    min-width: 18px;
}
.hlr-check__form-error span{
    margin-left: 5px;
}
.hlr-check__form-row{
    margin-bottom: 25px;
}
.label-hlr-check{
    display: block;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 14px;
}
.btn-hlr-check{
    font-size: 16px;
    line-height: 19px;
}
.btn-hlr-check:hover{
    background: -o-linear-gradient(357.85deg, #64E408 15.86%, rgba(255, 255, 255, 0) 91.06%), #04CE9B;
    background: linear-gradient(92.15deg, #64E408 15.86%, rgba(255, 255, 255, 0) 91.06%), #04CE9B;
}
.btn-hlr-check:disabled{
    background: #81859C;
    color: #FFFFFF;
}
.inp-hlr-check{
    display: block;
    height: 50px;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    border: 1px solid #333333;
}
.inp-hlr-check--tel{
    width: 100%;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
}
.hlr-check__form-combined{
    display: flex;
    justify-content: space-between;
}
.inp-hlr-check--num1,
.inp-hlr-check--num2{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.inp-hlr-check--num1{
    width: 83px;
}
.inp-hlr-check--num2{
    width: 163px;
}
.hlr-check__register{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}
.hlr-check__register-text{
    width: 100%;
    max-width: 290px;
    margin-right: 50px;
}
.hlr-check__form-pending{
    display: none;
}
.hlr-check__form_pending .hlr-check__form-pending{
    display: block;
}
.hlr-check__form_pending .hlr-check__form-start{
    display: none;
}
.hlr-check__form-pending-text{
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.hlr-check__form-pending-anim {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hlr-check__form-pending-anim-item {
    width: 12px;
    height: 12px;
    margin: 0 6px;
    border-radius: 50%;
    background-color: #04CE9B;
}
.hlr-check__form-pending-anim-item:nth-child(1) {
    animation: bouncing 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.hlr-check__form-pending-anim-item:nth-child(2) {
    animation: bouncing 0.4s 0.1s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}
.hlr-check__form-pending-anim-item:nth-child(3) {
    animation: bouncing 0.4s 0.2s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}
@keyframes bouncing {
    0% {
        transform: translate3d(0, 5px, 0) scale(1.2, 0.85);
    }
    100% {
        transform: translate3d(0, -10px, 0) scale(0.9, 1.1);
    }
}
/*table*/
.hlr-table{
    padding: 124px 0 140px 0;
    background: -o-linear-gradient(347.65deg, #64E408 0%, rgba(255, 255, 255, 0) 100%), #04CE9B;
    background: linear-gradient(102.35deg, #64E408 0%, rgba(255, 255, 255, 0) 100%), #04CE9B;
}
.hlr-table__title{
    margin-bottom: 36px;
    font-size: 36px;
    line-height: 44px;
}
.hlr-table__table{
    width: 100%;
    max-width: 664px;
    margin: 0 auto;
}
.hlr-table__table table{
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}
.hlr-table__table table th,
.hlr-table__table table td{
    width: 33.333333336%;
}
.hlr-table__table table tr:not(:last-child){
    border-bottom: 1px solid #04CE9B;
}
.hlr-table__table table th{
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    background-color: rgba(255, 255, 255, 0.5);
    border-right: 1px solid #04CE9B;
}
.hlr-table__table table td{
    padding: 5px;
    border-right: 1px solid #04CE9B;
}
.hlr-table__table table th:last-child,
.hlr-table__table table td:last-child{
    border-right: none;
}
.hlr-table__text-after{
    margin-top: 22px;
    margin-bottom: 65px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.hlr-table__btn{
    display: flex;
    justify-content: center;
}
/*faqs*/
.hlr-faqs{
    padding: 136px 0;
}
.hlr-faqs__inner{
    display: flex;
    flex-wrap: wrap;
}
.hlr-faqs__title{
    width: 100%;
    max-width: 260px;
}
.hlr-faqs__title:before{
    content: "";
    display: block;
    width: 68px;
    height: 2px;
    margin-bottom: 19px;
    background-color: #04CE9B;
}
.hlr-faqs__title h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: left;
}
.hlr-faqs__list{
    width: 100%;
    max-width: 750px;
    margin-left: auto;
}
.hlr-faqs-item:not(:last-child){
    margin-bottom: 34px;
}
.hlr-faqs-item__top{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 480px;
    cursor: pointer;
}
.hlr-faqs-item__icon{
    width: 21px;
    min-width: 21px;
    height: 21px;
    margin-left: auto;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.hlr-faqs-item__top_opened .hlr-faqs-item__icon{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.hlr-faqs-item__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.hlr-faqs-item__content{
    display: none;
    margin-top: 18px;
    font-size: 16px;
    line-height: 26px;
}
.hlr-faqs-item__content ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.hlr-faqs-item__content ul li{
    margin: 5px 0;
}
.hlr-faqs-item__content ul li:before{
    content: "•";
    padding-right: 5px;
    color: #64E408;
}

@media all and (min-width: 320px) and (max-width: 767px){
    /*hero*/
    .hlr-hero{
        padding: 69px 0 0 0;
        margin-bottom: 82px;
    }
    .hlr-hero__title{
        line-height: 40px;
        text-align: center;
    }
    .hlr-hero__title span{
        color: #FFFFFF;
    }
    .hlr-hero__text{
        margin-top: 29px;
        text-align: center;
    }
    .hlr-hero__icons{
        flex-wrap: wrap;
        margin: 28px 0 45px 0;
    }
    .hlr-hero-icon:not(:last-child){
        margin-right: 15px;
    }
    .hlr-hero-icon__text{
        font-size: 16px;
        line-height: 19px;
    }
    .hlr-hero-icon__text span{
        display: block;
    }
    .hlr-hero__img{
        position: relative;
        right: auto;
        left: 50%;
        bottom: 0;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .hlr-hero__img-desc{
        display: none;
    }
    .hlr-hero__img-mob{
        display: block;
    }
    .hlr-hero__sms{
        top: 66px;
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .hlr-hero-sms{
        margin-bottom: 20px;
    }
    .hlr-hero-sms:nth-child(2){
        margin-left: 0;
    }
    .hlr-hero__btn{
        position: absolute;
        bottom: -82px;
        left: 50%;
        margin-left: -130px;
        z-index: 2;
    }
    /*benefits*/
    .hlr-benefits{
        padding: 71px 0;
    }
    .hlr-benefits__title-sup{
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 40px
    }
    .hlr-benefits__title{
        font-size: 24px;
        line-height: 34px;
    }
    .hlr-benefits__title-sub{
        margin-top: 18px;
        font-size: 14px;
        line-height: 24px;
    }
    .hlr-benefits__items{
        margin-top: 39px;
    }
    .hlr-benefits-item:not(:last-child){
        margin-bottom: 37px;
    }
    .hlr-benefits-item__img,
    .hlr-benefits-item:nth-child(even) .hlr-benefits-item__img{
        order: 1;
        margin-bottom: 24px;
    }
    .hlr-benefits-item__content,
    .hlr-benefits-item:nth-child(even) .hlr-benefits-item__content{
        order: 2;
    }
    .hlr-benefits-item__title:before{
        display: none;
    }
    .hlr-benefits-item__text{
        margin-top: 18px;
        font-size: 16px;
        line-height: 26px;
    }
    .hlr-benefits__btn{
        margin-top: 37px;
    }
    /*how*/
    .hlr-how{
        padding-bottom: 62px;
    }
    .hlr-how__title{
        font-size: 24px;
        line-height: 34px;
    }
    .hlr-how__items{
        margin-top: 37px;
    }
    .hlr-how-item{
        position: relative;
        padding-top: 93px;
        overflow: hidden;
    }
    .hlr-how-item:not(:last-child){
        margin-bottom: 38px;
    }
    .hlr-how-item__number{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -30px;
    }
    .hlr-how-item__img{
        order: 1;
        margin-bottom: 24px;
    }
    .hlr-how-item__content{
        order: 2;
    }
    .hlr-how-item__title, .hlr-how-item__text{
        max-width: 100%;
        margin-left: 0;
    }
    /*request*/
    .hlr-request{
        padding-bottom: 71px;
    }
    .hlr-request__title{
        font-size: 24px;
        line-height: 34px;
    }
    .hlr-request__items{
        justify-content: center;
    }
    .hlr-request-item{
        margin-top: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }
    /*check*/
    .hlr-check{
        padding-bottom: 80px;
        overflow: hidden;
    }
    .hlr-check__text{
        order: 1;
    }
    .hlr-check__title{
        font-size: 24px;
        line-height: 29px;
    }
    .hlr-check__form{
        order: 2;
        margin-top: 42px;
        box-shadow: -4px 4px 20px rgba(51, 51, 51, 0.2);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background-color: #fff;
    }
    .hlr-check__form-inner{
        box-shadow:none;
    }
    .hlr-check__form:before{
        top: -16px;
        right: -15px;
    }
    .hlr-check__form_error:after{
        left: 85%;
        width: 70px;
        height: 124px;
        background: transparent url('../img/hlr/hlr-check-arrow--mob.svg') center center no-repeat;
    }
    .hlr-check-info{
        display: none;
        position: static;
        width: 100%;
        height: auto;
        padding-top: 0;
        padding-bottom: 38px;
        font-size: 14px;
        line-height: 24px;
        background: #FFFFFF;
    }
    .hlr-check-info_opened{
        display: block;
        width: 100%;
    }
    .hlr-check-info__close{
        z-index: 3;
    }
    .hlr-check-info__row{
        justify-content: space-between;
        padding: 0 15px;
    }
    .hlr-check-info__col:nth-child(1),
    .hlr-check-info__col:nth-child(2){
        width: 150px;
        margin-left: 0;
    }
    .hlr-check-info__col:nth-child(2){
        color: #04CE9B;
    }
    .hlr-check__register{
        margin-top: 36px;
    }
    .hlr-check__register-text{
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }
    /*table*/
    .hlr-table{
        padding: 74px 0 83px 0;
    }
    .hlr-table__title{
        margin-bottom: 26px;
        font-size: 24px;
        line-height: 29px;
    }
    .hlr-table__text-after{
        margin-top: 23px;
        margin-bottom: 38px;
    }
    .hlr-table__table table th{
        font-size: 16px;
    }
    /*faqs*/
    .hlr-faqs{
        padding: 70px 0;
    }
    .hlr-faqs__title{
        max-width: 100%;
        margin-bottom: 28px;
    }
    .hlr-faqs__title:before{
        display: none;
    }
    .hlr-faqs__title h2{
        font-size: 24px;
        line-height: 34px;
        text-align: center;
    }
    .hlr-faqs-item:not(:last-child){
        margin-bottom: 15px;
    }
    .hlr-faqs-item__top{
        align-items: flex-start;
        justify-content: space-between;
    }
    .hlr-faqs-item__icon{
        margin-left: 10px;
    }
    .hlr-faqs-item__title{
        font-size: 16px;
        line-height: 26px;
    }
    .hlr-faqs-item__content{
        margin-top: 13px;
    }
}