/*top*/
.top{
    padding-top: 135px;
}
.top__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top__content{
    width: 100%;
    max-width: 585px;
    margin-top: 25px;
}
.top__title span{
    position: relative;
    display: inline-block;
    margin-bottom: 14px;
}
.top__title span:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 9px;
    background-color: #F7B916;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.top__description{
    margin-top: 62px;
    font-size: 24px;
    line-height: 28px;
}
.top__btns{
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
}
.top__play{
    margin-left: 33px;
}
.top__play path{
    stroke: #1062AA;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.top__play:hover path{
    stroke: #F7B916;
    fill: #F7B916;
}
/*abilities*/
.abilities{
    padding-top: 127px;
    padding-bottom: 140px;
}
.abilities__list{
    margin-top: 88px;
}
.ability{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 84px;
}
.ability__content{
    width: 100%;
    max-width: 360px;
}
.ability:nth-child(even) .ability__content{
    text-align: right;
}
.ability:nth-child(even) .ability__media{
    order: 2;
}
.ability__link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.abilities__btns{
    display: flex;
    justify-content: center;
}

.abilities__art{
    content: "";
    position: absolute;
    bottom: -200px;
    left: -20px;
    width: 212px;
    height: 235px;
    background: transparent url('../img/home/home-counter-before.svg') center center no-repeat;
}
/*counter*/
.counter{
    padding: 85px 0 78px 0;
    background-color: #1062AA;
    color: #FFFFFF;
}
.counter__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.counter__text{
    max-width: 458px;
    text-align: left;
}
/*sms*/
.sms{
    padding-top: 124px;
}
.section__description{
    margin-top: 68px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}
.sms__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}
.sms-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 262px;
    margin-top: 50px;
    text-align: center;
}
.sms-item__title{
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.sms-item__description{
    margin-top: 24px;
    font-size: 14px;
    line-height: 24px;
}
/*bussiness*/
.bussiness{
    padding-top: 116px;
}
.bussiness__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
}
.bussiness__content{
    width: 100%;
    max-width: 460px;
}
.bussiness__list{
    margin-bottom: 67px;
}
.bussiness-item__title{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
}
.bussiness-item_active .bussiness-item__title{
    color: #1062AA;
}
.bussiness-item__title:hover{
    color: #1062AA;
    cursor: pointer;
}
.bussiness-item_active .bussiness-item__title:after,
.bussiness-item__title:hover:after{
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    width: 15px;
    height: 20px;
    margin-top: -10px;
    background: transparent url(../img/home/bussiness-arrow.svg) center center no-repeat;
}
.bussiness-item__text{
    display: none;
    padding: 15px 0 12px 0;
    font-size: 14px;
    line-height: 24px;
}
.bussiness-item_active .bussiness-item__text{
    display: block;
}
.bussiness__media img{
    display: none;
}
.bussiness__media img:nth-child(1){
    display: block;
}
/*bestsellers*/
.home-bestsellers{
    padding-top: 125px;
}
.home-regural__slider{
    margin-top: 80px;
    margin-left: -15px;
    margin-right: -15px;
}
.home-regural__slider .slick-track{
    display: flex;
}
.home-regural__slider .slick-slide{
    height: auto;
    padding: 0 15px;
}
.home-regural-slide{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 32px 47px 36px 47px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 3px solid #E6E7EB;
}
.home-regural-slide:hover{
    border: 3px solid #1062AA;
}
.home-regural-slide__top{
    display: flex;
    justify-content: space-between;
}
.home-regural-slide__icon{
    max-width: 48px;
    margin-right: 25px;
}
.home-regural-slide__text{
    max-width: 184px;
}
.home-regural-slide__title{
    margin-bottom: 9px;
}
.home-regural-slide__description{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
.home-regural-slide__descr-text{
    margin: 28px 0 30px 0;
    font-size: 14px;
    line-height: 24px;
}
.home-regural-slide__characteristics{
    margin: 29px 0 46px 0;
}
.home-regural-slide__list{
    font-size: 14px;
    line-height: 24px;
}
ul.home-regural-slide__list li{
    padding-left: 7px;
}
ul.home-regural-slide__list li:before{
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.blue .home-regural-slide__list li:before{
    background-color: #4AE4E4;
}
.orange .home-regural-slide__list li:before{
    background-color: #F7B916;
}
.pink .home-regural-slide__list li:before{
    background-color: #EB008B;
}
.yellow .home-regural-slide__list li:before{
    background-color: #FFE735;
}
.maroon .home-regural-slide__list li:before{
    background-color: #FF6341;
}
.cornfieldblue .home-regural-slide__list li:before{
    background-color: #00ADEE;
}
.lime .home-regural-slide__list li:before{
    background-color: #DDF516;
}
.darkviolet .home-regural-slide__list li:before{
    background-color: #010059;
}
.greencyan .home-regural-slide__list li:before{
    background-color: #6FC6AD;
}
.salad .home-regural-slide__list li:before{
    background-color: #8CC63F;
}
.home-regural-slide .btn-p{
    margin-top: auto;
}
/*home program*/
.home-program{
    padding-top: 125px;
}
.home-program__small-title{
    position: relative;
    margin: 65px 0 114px 0;
    text-align: center;
    color: #1062AA;
}
.home-program__small-title:after{
    content: "";
    position: absolute;
    top: 4px;
    left: 50%;
    width: 21px;
    height: 21px;
    margin-left: -250px;
    background: transparent url('../img/home/home-program-title-plus.svg') center center no-repeat;
}
.home-program-items{
    position: relative;
}
.home-program-items__row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 66px;
}
.home-program-items__row:first-child{
    margin-top: 0;
}
.home-program-item{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 260px;
}
.home-program-item:nth-child(even){
    margin-left: auto;
    justify-content: flex-end;
}
.home-program-item:after{
    content: "";
    position: absolute;
    right: -98px;
    width: 68px;
    height: 6px;
    background: transparent url('../img/home/home-program-pointer.svg') center center no-repeat;
}
.home-program-item:nth-child(even):after{
    right: auto;
    left: -98px;
}
.home-program-items__row:nth-child(1) .home-program-item:after{
    top: 54px;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
}
.home-program-items__row:nth-child(1) .home-program-item:nth-child(even):after{
    -webkit-transform: rotateZ(-25deg) rotateY(180deg);
    -moz-transform: rotateZ(-25deg) rotateY(180deg);
    -ms-transform: rotateZ(-25deg) rotateY(180deg);
    -o-transform: rotateZ(-25deg) rotateY(180deg);
    transform: rotateZ(-25deg) rotateY(180deg);
}
.home-program-items__row:nth-child(2) .home-program-item:after{
    top: 19px;
}
.home-program-items__row:nth-child(2) .home-program-item:nth-child(even):after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.home-program-items__row:nth-child(3) .home-program-item:after{
    top: -8px;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
.home-program-items__row:nth-child(3) .home-program-item:nth-child(even):after{
    -webkit-transform: rotateZ(25deg) rotateY(180deg);
    -moz-transform: rotateZ(25deg) rotateY(180deg);
    -ms-transform: rotateZ(25deg) rotateY(180deg);
    -o-transform: rotateZ(25deg) rotateY(180deg);
    transform: rotateZ(25deg) rotateY(180deg);
}
.home-program-item__icon{
    width: 43px;
    min-width: 43px;
    margin-right: 50px;
}
.home-program-item__icon svg{
    display: block;
    max-width: 100%;
}
.home-program-item:nth-child(even) .home-program-item__icon{
    width: 43px;
    min-width: 43px;
    margin-left: 50px;
    margin-right: 0;
    order: 2;
}
.home-program-item:nth-child(even) .home-program-item__content{
    order: 1;
    text-align: right;
}
.home-program-item__title{
    margin-bottom: 22px;
}
.home-program-item__title a{
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}
.home-program-item__text{
    font-size: 14px;
    line-height: 16px;
}
.home-program-main{
    position: absolute;
    top: 49px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
}
.home-program-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
/*home reviews*/
.home-reviews{
    padding: 124px 0;
}
.reviews-list{
    position: relative;
    margin-top: 74px;
}
.reviews-slide{
    display: flex;
    justify-content: space-between;
}
.reviews-slide__info{
    width: 100%;
    max-width: 260px;
}
.reviews-slide__content{
    width: 100%;
    max-width: 655px;
}
.reviews-slide__rating{
    display: flex;
}
.reviews-slide__rating-item{
    margin-right: 10px;
}
.reviews-slide__author{
    margin-top: 26px;
    font-size: 16px;
    line-height: 32px;
}
.reviews-slide__author-name{
    font-weight: 500;
}
.reviews-slide__author-date{
    color: #807E7E;
}
.reviews-slide__all{
    margin-top: 2px;
    margin-bottom: 34px;
}
.reviews-slide__all-link{
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #868585;
}
.reviews-slide__all-link-arrow{
    margin-left: 10px;
}
.reviews-slide__text{
    font-size: 16px;
    line-height: 19px;
}
.reviews-slide__more{
    margin-top: 11px;
}
.reviews-slide__more-link{
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #868585;
}
.reviews-list .slider-arrow{
    top: 50px;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.reviews-slider-arrow{
    top: 50px;
}
/*home cta*/
.home-cta{
    padding: 23px 0 83px 0;
    background-color: #1062AA;
    color: #FFFFFF;
}
.home-cta__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.home-cta__content{
    width: 100%;
    max-width: 400px;
}
.home-cta h3{
    text-align: left;
}
.home-cta__text{
    margin-top: 39px;
    font-size: 16px;
    line-height: 19px;
}
.home-cta__form{
    display: flex;
    margin-bottom: 7px;
}
.home-cta__form .inp{
    margin-right: 28px;
}
/*home blog*/
.home-blog{
    padding: 124px 0;
}
.home-blog__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home-blog-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 360px;
    min-height: 360px;
    margin-top: 69px;
    padding: 41px 33px 36px 33px;
    border: 1px solid #1062AA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    -ms-transition: all 0.125s;
    -o-transition: all 0.125s;
    transition: all 0.125s;
}
.home-blog-item:hover{
    border: 3px solid #1062AA;
}
.home-blog-item__category,
.home-blog-item__date{
    font-size: 12px;
    line-height: 14px;
}
.home-blog-item__category{
    display: flex;
    align-items: center;
}
.home-blog-item__category:before{
    content: '';
    width: 26px;
    height: 1px;
    margin-right: 10px;
    background-color: #333333;
}
.home-blog-item__title{
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}
.home-blog-item__title:hover{
    color: #1062AA;
    text-decoration: none;
}
.home-blog-item__title:hover:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 136px;
    height: 9px;
    margin-top: 12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #F7B916;
}
.home-blog__btn{
    display: flex;
    justify-content: center;
    margin-top: 83px;
}
/*home clients*/
.home-clients__subtitle{
    margin-top: 65px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #1062AA;
}
.home-clients__subtitle span{
    font-weight: 900;
}
.home-clients__list{
    position: relative;
    margin-top: 94px;
}
.home-clients .slick-initialized .slick-track {
    display: flex;
    align-items: center;
}
/*slick*/
.slider-arrow{
    position: absolute;
    top: 50%;
    cursor: pointer;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor: pointer;
    z-index: 9;
}
.slider-arrow--next{
    right: -70px;
}
.slider-arrow--prev{
    left: -70px;
}
.slider-arrow svg{
    fill: #1062AA;
}
.slick-disabled svg{
    fill: #E5E5E5;
}
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 69px;
}
.slick-dots button{
    height: 8px;
    width: 8px;
    margin: 0 6px;
    background-color: rgba(129, 133, 156, 0.45);
    font-size: 0;
    line-height: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}
.slick-dots .slick-active button{
    background-color: rgba(129, 133, 156, 1);
}
/*modal cta*/
.modal-home-cta{
    width: 50%;
    padding-top: 73px;
}
/*Support component*/
.support{
    padding-top: 124px;
}
.support__inner{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
}
.support__about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.support__text{
    width: 246px;
    margin-left: 31px;
    color: #333333;
}
.support__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
}
.support__description{
    font-size: 16px;
    line-height: 19px;
}
.support__contacts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}
a.support__contacts-tel,
a.support__contacts-mail{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
a.support__contacts-tel:hover,
a.support__contacts-mail:hover{
    color: #F7B916;
}
a.support__contacts-tel{
    color: #333333;
    text-decoration: none;
}
a.support__contacts-mail{
    color: #1062AA;
    text-decoration: underline;
}
.support__chat{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    color: #1062AA;
    background-color: #F7B916;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    cursor: pointer;
}
.support__chat:before{
    content: "";
    position: absolute;
    top: -27px;
    right: 54px;
    width: 30px;
    height: 29px;
    background: url("../img/general/chat-arrow.svg") no-repeat center center, transparent;
}
.support__chat:hover{
    color: #ffffff;
}

@media all and (min-width: 768px) and (max-width: 1024px){
    /*reviews*/
    .reviews-list .slider-arrow--prev{
        left: 0;
    }
    .reviews-list .slider-arrow--next{
        right: 0;
    }
    .reviews-slider{
        max-width: 90%;
        margin: 0 auto;
    }
    /*slider*/
    .slider-arrow{
        display: none;
    }
    /*bestseller*/
    .home-regural-slide{
        padding: 30px;
    }
    /*modal cta*/
    .modal-home-cta{
        width: 75%;
    }
}
@media all and (max-width: 767px){
    /*top*/
    .top{
        padding-top: 50px;
    }
    .top__title{
        font-size: 34px;
        line-height: 40px;
    }
    .top__title span:after {
        height: 6px;
        bottom: -8px;
    }
    .top__description{
        margin: 30px 0;
    }
    /*abilities*/
    .abilities{
        padding: 60px 0;
    }
    .abilities__art{
        display: none;
    }
    .ability:nth-child(even) .ability__media{
        order: 1;
    }
    .ability:nth-child(even) .ability__content{
        order: 2;
        text-align: left;
    }
    .ability__content{
        margin-top: 15px;
    }
    /*counter*/
    .counter__inner{
        justify-content: center;
    }
    .counter__text,
    .counter__numbers{
        text-align: center;
    }
    .counter__numbers span{
        display: block;
    }
    /*sms*/
    .sms{
        padding-top: 60px;
    }
    .section__description{
        margin-top: 30px;
    }
    .sms__items{
        justify-content: center;
    }
    /*bussiness*/
    .bussiness{
        padding-top: 60px;
    }
    .bussiness__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .bussiness-item__title{
        margin-top: 30px;
        margin-left: 30px;
        font-size: 20px;
        line-height: 24px;
    }
    .bussiness__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*bestsellers*/
    .home-bestsellers{
        padding-top: 50px;
    }
    .home-regural__slider{
        margin-top: 50px;
    }
    .home-regural-slide{
        padding: 15px;
    }
    .home-regural-slide__top{
        justify-content: flex-start;
    }
    .home-regural-slide .btn-p{
        margin-left: auto;
        margin-right: auto;
    }
    /*program*/
    .home-program{
        padding-top: 50px;
    }
    .home-program__small-title{
        margin: 50px 0;
    }
    .home-program-item{
        max-width: 100%;
    }
    .home-program-item:nth-child(even){
        margin-left: 0;
        justify-content: flex-start;
    }
    .home-program-item__icon{
        margin-right: 25px;
    }
    .home-program-item:nth-child(even) .home-program-item__icon{
        order: 1;
        margin-right: 25px;
        margin-left: 0;
    }
    .home-program-item:after{
        display: none;
    }
    .home-program-items__row{
        margin-top: 0;
    }
    .home-program-item{
        margin-bottom: 30px;
    }
    .home-program-item__title{
        margin-bottom: 6px;
    }
    .home-program-main{
        position: static;
        display: flex;
        justify-content: center;
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
    .home-program-item:nth-child(even) .home-program-item__content{
        order: 2;
        text-align: left;
    }
    /*reviews*/
    .home-reviews{
        padding: 60px 0;
    }
    .reviews-list{
        margin-top: 30px;
    }
    .reviews-slide{
        flex-wrap: wrap;
    }
    .reviews-slide__author{
        margin-top: 16px;
    }
    .reviews-slide__all{
        margin-bottom: 11px;
    }
    .reviews-slider-arrow--prev{
        left: 0;
    }
    .reviews-slider-arrow--next{
        right: 0;
    }
    .reviews-slider-arrow{
        top: 50%;
        margin-top: -14px;
    }
    /*cta*/
    .home-cta,
    .home-cta h3{
        text-align: center;
    }
    .home-cta__form{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .home-cta__form .inp{
        margin: 30px 0;
    }
    /*blog*/
    .home-blog{
        padding: 60px 0;
    }
    .home-blog__items{
        display: block;
    }
    .home-blog__btn{
        margin-top: 40px;
    }
    /*clients*/
    .home-clients__subtitle{
        margin-top: 30px;
    }
    .home-clients__list{
        margin-top: 30px;
    }
    .home-clients__slider img{
        margin: 0 auto;
    }
    /*support*/
    .support{
        padding-top: 60px;
    }
    .faqs{
        padding: 60px 0;
    }
    /*slider*/
    .slick-dots{
        margin-top: 19px;
    }
    .slider-arrow{
        display: none;
    }
    /*modal cta*/
    .modal-home-cta{
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait){
    .support__inner,
    .support__about{
        flex-direction: column;
        align-items: center;
    }
    .support__icon,
    .support__text{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .support__title{
        margin: 10px 0;
    }
    .support__contacts{
        margin: 10px 0 50px 0;
        align-items: center;
    }
}