@media screen and (min-width: 768px) and (max-width: 1024px){
    .blog-post h1, .blog-post__general-title{
        font-size: 30px;
        line-height: 37px;
    }
    .blog-post__header{
        max-width: 720px;
    }
    .blog-post__title {
        padding: 20px 32px 30px 32px;
    }
    .blog-post__counters{
        margin-left: 32px;
    }
    .blog-post__content{
        max-width: 655px;
        margin: 0 auto;
    }
    #sidebar{
        display: none;
    }
    .blog-post-social{
        margin-left: auto;
    }
    .blog-post-subscribe{
        padding-top: 70px;
    }
    .blog-post-subscribe__form{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .blog-post-subscribe__text{
        max-width: 100%;
    }
    .blog-post-subscribe__description{
        margin-top: 63px;
        margin-bottom: 63px;
    }
    .inp-blog-post-subscribe, .blog-post-subscribe__btn{
        margin-left: 0;
    }
    .blog-post-subscribe__btn{
        margin-top: 30px;
    }
    .blog-post__general-title{
        margin-bottom: 63px;
    }
    .blog-post-read__items{
        justify-content: center;
    }
    .blog-post-read-item{
        margin: 0 15px 30px 15px;
    }
    .blog-post-read__more{
        margin-top: 33px;
    }
    .blog-post-note{
        position: relative;
        left: 0;
        margin-top: 15px;
    }
    .video__movies{
        max-width: 90%;
    }
    /*Feedback page*/
    .btn-contacts--feedback{
        margin-right: 66px;
    }
    /*Promo page*/
    .promo-page__items{
        margin-left: 0;
        margin-right: 0;
    }
    .promo-page__item{
        max-width: 25%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }
    /*Story page*/
    .story img{
        margin-bottom: 30px;
    }
    .story__about{
        max-width: 29%;
    }
    .story__feedback{
        max-width: 69%;
    }
    /*News page*/
    .news__sidebar-subscribe-title{
        font-size: 20px;
        line-height: 24px;
    }
    .news__content{
        max-width: 70%;
    }
    .news__sidebar{
        max-width: 30%;
    }
    .news-item{
        margin-bottom: 40px;
    }
    /*Events page*/
    .events__menu-item{
        width: 36%;
    }
    .events__menu-archieve, .events__menu-all{
        margin-left: -4%;
    }
    /*Why page*/
    .why-numbers-item{
        width: 160px;
    }
    .why-benefits {
        background: transparent url(../img/why/why-bg-1-pad.svg) center center no-repeat;
    }
    .why-feedbacks__list,
    .why-clients__list{
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .why-clients__item img{
        margin-left: auto;
        margin-right: auto;
    }
    /*Blog page*/
    .blog__items{
        justify-content: center;
    }
    .blog__item{
        margin-left: 30px;
        margin-right: 30px;
    }
    .blog-bottom__img{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .blog-bottom__img img{
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .info-page-article__img{
        max-width: 15%;
    }
    .info-page-article__text{
        max-width: 85%;
    }
    a.useful-tabs-control__link{
        font-size: 16px;
    }
    .support__text {
        width: 220px;
        margin-left: 10px;
    }
    /*Contacts page*/
    .contacts__main{
        justify-content: center;
    }
    .contacts__img{
        margin-left: auto;
        margin-right: auto;
    }
    .contacts__ask{
        margin: 30px 0;
    }
    .contacts__title{
        text-align: center;
    }
    .contacts__form-left,
    .contacts__form-right,
    .checkbox-contacts__form{
        max-width: 48%;
    }
    /*News page*/
    .news__content,
    .news__sidebar{
        max-width: 100%;
    }
    .news__sidebar{
        order: 1;
        margin-bottom: 60px;
    }
    .news__content{
        order: 2;
    }
    .news__sidebar-subscribe{
        display: flex;
        align-items: center;
        padding: 20px;
    }
    .news__sidebar-subscribe-form{
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    .btn-sidebar-subscribe,
    .inp-news:not(.inp-news--search){
        width: 220px;
    }
    .news__sidebar-search{
        margin-bottom: 30px;
    }
    .btn-sidebar-subscribe{
        margin-top: 0;
        margin-left: 15px;
    }
    .news__sidebar-subscribe-title{
        margin-bottom: 0;
    }
    /*Press page*/
    .press-materials__img{
        max-width: 25%;
        margin-right: 0;
        padding-right: 30px;
    }
    .press-materials__content{
        max-width: 75%;
    }
    /*About page*/
    .about-list__item{
        margin: 0 9px;
    }
}

@media screen and (min-width: 320px)and (max-width: 767px){
    .info-page h1,
    .info-page h2{
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 24px;
    }
    .info-page p{
        font-size: 16px;
        line-height: 19px;
    }
    .useful-tabs-control{
        margin-bottom: 40px;
    }
    .useful-tabs-control__links{
        flex-direction: column;
    }
    .info-page{
        padding: 40px 0;
    }
    .info-page-block {
        padding-bottom: 30px;
    }
    .info-page p{
        margin-bottom: 30px;
    }
    .info-page-article__img{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .info-page-article__description{
        margin-top: 15px;
    }
    .info-page h1.title-m-tb-big,
    .info-page h2.title-m-tb-big{
        margin: 60px 0;
    }
    /*Base page*/
    .base-part{
        width: 33.333333%;
    }
    .base-part__title{
        margin-top: 15px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
    /*Documentation page*/
    .documentation-item{
        margin-bottom: 30px;
    }
    .video__arrow{
        top:auto;
        bottom: -50px;
    }
    .video__arrow-prev{
        left: 50%;
        margin-left: -30px;
    }
    .video__arrow-next{
        right: 50%;
        margin-right: -30px;
    }
    /*Blog post page*/
    .blog-post{
        padding: 40px 0 80px 0;
    }
    .blog-post__general-title.blog-post__general-title--mob{
        font-size: 30px;
        line-height: 37px;
    }
    #sidebar,
    .blog-post-note{
        display: none;
    }
    .blog-post h1, .blog-post__general-title{
        font-size: 18px;
        line-height: 26px;
    }
    .blog-post__general-title{
        margin-bottom: 40px;
    }
    .blog-post__top{
        margin-bottom: 0;
    }
    .blog-post__header{
        position: relative;
        bottom: auto;
        padding-bottom: 23px;
    }
    .blog-post__categories{
        position: absolute;
        bottom: 100%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .blog-post__title{
        order: 1;
        padding: 25px 17px;
    }
    .blog-post__meta{
        order: 2;
    }
    .blog-post__counters{
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .blog-post *+h3, .blog-post *+h4{
        margin-top: 40px;
    }
    .blog-post h3, .blog-post h4{
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 26px;
    }
    .blog-post h5, .blog-post h6{
        font-size: 18px;
        line-height: 26px;
    }
    .blog-post p{
        font-size: 16px;
        line-height: 26px;
    }
    .blog-post blockquote{
        margin-left: -15px;
        margin-right: -15px;
        padding: 40px 35px;
    }
    .blog-post blockquote:before{
        width: 20px;
        min-width: 20px;
        height: 16px;
        margin-right: 7px;
        background-size: contain;
    }
    .blog-post blockquote p{
        font-size: 18px;
        line-height: 26px;
    }
    .blog-post-slider ul{
        margin-top: 31px;
    }
    .blog-post-slider, .blog-post-similar-article, .blog-post .video__movie, .blog-post .table, .blog-post-accent{
        margin: 40px 0;
    }
    .blog-post-accent{
        flex-wrap: wrap;
        font-size: 16px;
        line-height: 26px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .blog-post-accent span{
        padding: 0 15px;
    }
    .blog-post-similar-article{
        flex-wrap: wrap;
        max-width: 263px;
        margin-left: auto;
        margin-right: auto;
    }
    .blog-post-similar-article img{
        max-width: 100%;
        margin-bottom: 10px;
    }
    .blog-post-similar-article a{
        margin-left: 0;
        font-size: 16px;
        line-height: 26px;
    }
    .blog-post-accent img{
        width: 100%;
        max-width:inherit;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .blog-post .table{
        overflow-x: auto;
    }
    .blog-post th{
        padding: 12px 3px;
        font-size: 12px;
        line-height: 14px;
    }
    .blog-post td{
        padding: 0 3px;
        font-size: 12px;
        line-height: 30px;
    }
    .blog-cta{
        margin-bottom: 40px;
        padding: 55px 0 201px;
        -webkit-background-size: 250%;
        background-size: 250%;
    }
    .blog-cta__title{
        font-size: 18px;
        line-height: 26px;
    }
    .blog-cta__description{
        margin: 50px 0;
    }
    .blog-post-bottom{
        margin: 40px 0;
    }
    .blog-post-bottom__title{
        display: none;
    }
    .blog-post-author{
        margin: 40px 0;
    }
    .blog-post-author__name{
        font-size: 14px;
        line-height: 16px;
    }
    .blog-post-author__about{
        margin: 15px 0;
        font-size: 12px;
        line-height: 20px;
    }
    .blog-post-subscribe__form{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .inp-blog-post-subscribe, .blog-post-subscribe__btn{
        margin-left: 0;
        margin-top: 30px;
    }
    .inp-blog-post-subscribe{
        margin-top: 50px;
    }
    .blog-post-subscribe{
        margin: 40px 0;
        padding-top: 40px;
    }
    .blog-post-subscribe__title{
        font-size: 18px;
        line-height: 26px;
    }
    .blog-post-subscribe__description{
        margin-top: 20px;
        font-size: 14px;
        line-height: 26px;
    }
    .blog-post-read .blog-post__general-title{
        font-size: 24px;
        line-height: 29px;
    }
    .blog-post-read-item{
        margin: 0 15px 30px 15px;
    }
    .blog-post-read__more{
        margin-top: 45px;
    }
    .blog-post-read__items{
        justify-content: center;
    }
    .blog-post-read-item__title{
        font-size: 18px;
        line-height: 26px;
    }
    /*Faqs page*/
    .faqs-item__question{
        height: auto;
        padding: 15px;
        font-size: 18px;
    }
    .faqs-item__content{
        padding: 15px;
    }
    .faqs-item-answer__title{
        font-size: 16px;
        line-height: 19px;
    }
    .faqs-item-answer__content p{
        margin-bottom: 0;
    }
    .faqs-item__arrow svg{
        width: 18px;
    }
    .faqs__items,
    .faqs__support{
        margin-bottom: 40px;
    }
    /*Update page*/
    .update__body{
        margin-bottom: 40px;
    }
    .update__block:last-child{
        margin-bottom: 80px;
    }
    .update__body b,
    .update__body strong,
    .update__body p,
    .update__body ul{
        font-size: 16px;
        line-height: 19px;
    }
    .update__body > ul > li:before{
        width: 10px;
    }
    .update__body p{
        margin: 0;
    }
    .update__status{
        margin: 40px 0;
    }
    .update__status{
        font-size: 22px;
        line-height: 26px;
    }
    /*Support page*/
    .support-page__form,
    .support-page__description,
    .support-page-search__result,
    .support-page-search{
        margin-bottom: 40px;
    }
    .inp-support-page-search{
        padding: 0 57px;
    }
    .btn-search-support-page{
        left: 15px;
    }
    .support-page__description{
        font-size: 16px;
        line-height: 19px;
    }
    .support-page__menu-item{
        max-width: 50%;
    }
    .support-page__questions{
        margin: 10px 0 40px 0;
        font-size: 20px;
        line-height: 24px;
    }
    /*Contcts page*/
    .big-form{
        margin-top: 40px;
        padding: 15px;
    }
    .inp-contacts, .select-contacts{
        padding: 0 15px;
    }
    .btn-contacts{
        width: 100%;
        margin-bottom: 20px;
    }
    .inp-contacts, .select-contacts{
        max-width: 100%;
    }
    .contacts__img{
        margin-left: auto;
        margin-right: auto;
    }
    .contacts__ask{
        flex-wrap: nowrap;
        margin: 30px 0;
    }
    .contacts__ask-icon{
        min-width: 40px;
    }
    .contacts__ask-text{
        line-height: 22px;
    }
    .contacts__left,
    .contacts__right,
    .contacts__form-left,
    .contacts__form-right{
        max-width: 100%;
    }
    .contacts__form-left{
        margin-bottom: 20px;
    }
    .contacts__support{
        margin-top: 40px;
    }
    /*Migration page*/
    .migration__items{
        margin: 40px 0;
        justify-content: center;
    }
    .migration p a{
        font-size: 16px;
    }
    /*Feedback page*/
    .btn-contacts--feedback{
        margin-right: 0;
        margin-top: 20px;
    }
    .feedback__header h1:after{
        right: -52px;
    }
    /*Promo page*/
    .promo-page__items{
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }
    .promo-page__item{
        max-width: 50%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }
    /*Requisites page*/
    .requisites-page__heading{
        font-size: 18px;
        line-height: 21px;
    }
    /*Stories page*/
    .stories-story{
        max-width: 100%;
        margin-bottom: 40px;
    }
    .stories-story__title{
        min-height: 1px;
        font-size: 18px;
    }
    /*Story page*/
    .story{
        margin-bottom: 0;
    }
    .story__content{
        margin-bottom: 30px;
    }
    .story img{
        float: none;
        margin-right: 0;
    }
    .story__bottom{
        margin-bottom: 40px;
    }
    .story__author{
        line-height: 1.5em;
    }
    .story__feedback{
        margin-top: 20px;
    }
    a.story__feedback-all{
        margin-bottom: 20px;
    }
    /*News page*/
    .news__content,
    .news__sidebar,
    .news-item,
    .news-item--main .news-item__img,
    .news-item--main .news-item__content{
        max-width: 100%;
    }
    .news-item--main .news-item__img{
        margin-right: 0;
    }
    .news-item--main .news-item__date{
        margin-top: 30px;
    }
    .news-item--main .news-item__link{
        font-size: 18px;
        line-height: 21px;
    }
    .news__sidebar,
    .news-item{
        margin-bottom: 40px;
    }
    .news-item--main{
        flex-direction: column;
    }
    /*News single page*/
    .news-single__img,
    .news-single__text{
        max-width: 100%;
    }
    .news-single__img{
        margin-bottom: 30px;
        padding-right: 0;
    }
    .news-single{
        padding-top: 0;
    }
    .news-single-alert{
        position: relative;
        left: 0;
        margin-bottom: 30px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    /*Events page*/
    .events-event__img,
    .events-event__content{
        max-width: 100%;
    }
    .events-event__img{
        margin-bottom: 20px;
        padding-right: 0;
    }
    .events__list{
        margin-top: 40px;
    }
    .events-event{
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
    .events__menu-item{
        width: 100%;
        margin-left: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .events-event__info{
        margin-bottom: 20px;
    }
    .events-event__info-item{
        max-width: 50%;
        padding: 10px;
    }
    .events-event__info-item:last-child{
        max-width: 100%;
    }
    .pagination__btn-prev{
        margin-right: auto;
    }
    .pagination__btn-next{
        margin-left: auto;
    }
    .pagination__page{
        width: 30px;
        height: 30px;
        margin: 0 3px;
    }
    /*Events Single page*/
    .events-single__info, .events-single__img{
        margin-bottom: 40px;
    }
    /*Contacts tech page*/
    .contacts__tech-rules{
        margin-top: 30px;
        margin-bottom: 0;
    }
    .contacts-socials{
        margin-top: 40px;
        background: none;
    }
    .contacts-socials__item{
        margin: 0 20px 20px 20px;
    }
    /*Press page*/
    .press-materials__img,
    .press-materials__img img{
        margin-right: auto;
        margin-left: auto;
    }
    .press-materials__content{
        margin-top: 30px;
    }
    a.press-materials-download{
        margin-right: 20px;
    }
    .press-persons{
        margin-bottom: 20px;
    }
    .press-items{
        margin-bottom: 40px;
    }
    .press-materials{
        margin-top: 60px;
    }
    /*Trust page*/
    .trust-list{
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .trust-clients{
        margin-top: 40px;
    }
    .trust-clients__text-one{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .trust-clients__text-one-icon,
    .trust-feedback__icon{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .trust-clients__text-two {
        margin-top: 5px;
        font-size: 18px;
        line-height: 26px;
    }
    .trust-feedback{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }
    .trust-feedback__text a{
        font-size: 16px;
        line-height: 19px;
    }
    /*About page*/
    .about-list{
        margin-bottom: 10px;
    }
    .about-list__item{
        margin-bottom: 30px;
    }
    /*Why page*/
    .why-numbers__inner{
        justify-content: center;
    }
    .why-numbers-item{
        margin-bottom: 30px;
    }
    .why-numbers-item:last-child{
        margin-bottom: 0;
    }
    .why-benefits{
        background: none;
    }
    .why-benefits-item:first-child{
        text-align: left;
    }
    .why-benefits__row{
        margin-bottom: 0;
    }
    .why-benefits-item{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .why-feedbacks{
        margin-top: 40px;
    }
    .why .why__arrow {
        top: auto;
        bottom: -50px;
    }
    .why__arrow-next {
        right: 50%;
        margin-right: -30px;
    }
    .why__arrow-prev {
        left: 50%;
        margin-left: -30px;
    }
    .why-clients__item img{
        margin-left: auto;
        margin-right: auto;
    }
    /*Product page*/
    .product__category{
        margin-bottom: 60px;
        padding: 40px 0;
    }
    .product__category h2{
        margin: 0;
    }
    .product-item__btns{
        margin-top: 40px;
    }
    .product-item{
        margin-bottom: 65px;
    }
    a.btn-product{
        margin: 15px;
    }
    .product-item__hit,
    .product-item__soon{
        position: absolute;
        bottom: 100%;
        right: 0;
        margin: 0;
    }
    /*Blog page*/
    .blog-search,
    .blog__result{
        margin: 40px 0;
    }
    .blog__items{
        justify-content: center;
        margin-top: 40px;
    }
    .blog__result{
        font-size: 16px;
        line-height: 19px;
    }
    .blog__item{
        margin-bottom: 40px;
    }
    .blog-bottom__img{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .blog-bottom__img img{
        margin: 0 auto;
    }
    .blog-bottom__text{
        margin-bottom: 30px;
        text-align: center;
        font-size: 22px;
        line-height: 26px;
    }
    .blog-bottom__btn{
        margin-right: auto;
    }
    .blog__item-full{
        width: 263px;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .blog__item-full .blog-post-read-item__top{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .blog{
        margin-bottom: 80px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
    .support__chat{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    /*Blog post page*/
    .blog-post-social{
        margin-left: auto;
    }
    /*Migration page*/
    .migration-item{
        max-width: 50%;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait){
    .support__inner,
    .support__about{
        flex-direction: column;
        align-items: center;
    }
    .support__icon,
    .support__text{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .support__title{
        margin: 10px 0;
    }
    .support__contacts{
        margin: 10px 0 50px 0;
        align-items: center;
    }
    /*Blog post page*/
    .blog-post-social{
        margin-left: auto;
    }
    /*Contact page*/
    .contacts-item:nth-child(2){
        margin-left: 67px;
    }
    /*Migration page*/
    .migration-item{
        max-width: 100%;
    }
    /*News single page*/
    .news-single-alert__link{
        margin-left: 0;
    }
}