html, body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #000;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button, input, a, .slick-slide{
    outline: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1,h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
    text-align: center;
}
button, input{
    padding: 0;
    border: none;
}
img {
    display: block;
    max-width: 100%;
}
a,
a svg,
button{
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.blue-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
}
.container,
.container-md{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.container{
    max-width: 1170px;
}
.container-md{
    max-width: 975px;
}
.tab{
    display: none;
}
.tab_active{
    display: block;
}
.btn-more{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    margin: 0 auto;
    font-size: 18px;
    color: #1062AA;
    text-decoration: none;
    border: 2px solid #1062AA;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
}
.btn-more:hover{
    color: #ffffff;
    background-color: #1062AA;
}
/*Info pages*/
.info-page{
    padding: 80px 0;
}
.info-page h1,
.info-page h2{
    margin: 0 0 80px 0;
}
.info-page h1.title-m-tb-big,
.info-page h2.title-m-tb-big{
    margin: 130px 0;
}
.info-page p{
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.info-page a{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.info-page-block{
    padding-bottom: 60px;
}
.info-page-article{
    display: flex;
    flex-wrap: wrap;
}
.info-page-article__img{
    max-width: 80px;
}
.info-page-article__text{
    width: 100%;
    max-width: 847px;
    margin-left: auto;
}
.info-page-article__title{
    color: #1062AA;
    text-decoration-line: underline;
}
.info-page-article__title:hover{
    color: #F7B916;
}
.info-page-article__description{
    /*margin-top: 47px;*/
    margin-top: 29px;
}
.info-page__more-articles{
    margin-bottom: 80px;
}
/*Useful page*/
.useful-tabs-control{
    margin-bottom: 106px;
    background-color: #F7B916;
}
.useful-tabs-control__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
a.useful-tabs-control__link{
    position: relative;
    display: flex;
    align-items: center;
    height: 59px;
    color: #333333;
    text-decoration: none;
}
.useful-tabs-control__link:hover,
.useful-tabs-control__link.tab-link_active{
    color: #1062AA;
}
.useful-tabs-control__link:hover:after,
.useful-tabs-control__link.tab-link_active:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 3px;
    background-color: #1062AA;
}
/*Support component*/
.support__inner{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
}
.support__about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.support__text{
    width: 246px;
    margin-left: 31px;
    color: #333333;
}
.support__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
}
.support__description{
    font-size: 16px;
    line-height: 19px;
}
.support__contacts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}
a.support__contacts-tel,
a.support__contacts-mail{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
a.support__contacts-tel:hover,
a.support__contacts-mail:hover{
    color: #F7B916;
}
a.support__contacts-tel{
    color: #333333;
    text-decoration: none;
}
a.support__contacts-mail{
    color: #1062AA;
    text-decoration: underline;
}
.support__chat{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    color: #1062AA;
    background-color: #F7B916;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    cursor: pointer;
}
.support__chat:before{
    content: "";
    position: absolute;
    top: -27px;
    right: 54px;
    width: 30px;
    height: 29px;
    background: url("../img/general/chat-arrow.svg") no-repeat center center, transparent;
}
.support__chat:hover{
    color: #ffffff;
}
/*Base page*/
.base__parts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.base-part{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: #333333;
}
.base-part:hover{
    color: #F7B916;
}
.base-part__icon{
    width: 64px;
}
.base-part__title{
    margin-top: 31px;
    font-size: 16px;
    line-height: 19px;
}
/*Video page*/
.video__movies{
    position: relative;
    max-width: 807px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.video__movie{
    position: relative;
    padding-top: 56.25%;
}
.video__movie iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video__arrow{
    position: absolute;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
    z-index: 2;
}
.video__arrow-prev{
    left: -45px;
}
.video__arrow-next{
    right: -45px;
}
/*Documentation page*/
.documentation__items{
    display: flex;
    flex-wrap: wrap;
    max-width: 876px;
    margin-left: auto;
    margin-right: auto;
}
.documentation-item{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 262px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 80px;
}
.documentation-item__icon{
    max-width: 80px;
}
.documentation-item__text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 165px;
    margin-left: auto;
}
.documentation-item__title{
    color: #1062AA;
    text-decoration: underline;
}
.documentation-item__title:hover{
    color: #F7B916;
}
.documentation-item__description{
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
}
/*Single article page*/
.single-article{
    padding: 80px 0;
}
.single-article h1{
    margin: 0 0 80px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
    text-align: center;
}
.single-article h1 + p{
    margin-bottom: 80px;
}
.single-article p{
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.single-article p:last-child{
    margin-bottom: 80px;
}
.single-article h5{
    margin-bottom: 29px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
}
.single-article p + h5{
    margin-top: 47px;
}
.single-article p + p{
    margin-top: 29px;
}
/*Blog post page*/
.blog-post{
    padding: 40px 0 140px 0;
    color: #333333;
}
.blog-post__main-content{
    display: flex;
    flex-wrap: wrap;
}
.blog-post h1,
.blog-post__general-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 44px;
}
.blog-post h3,
.blog-post h4{
    margin-bottom: 63px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
.blog-post *+h3,
.blog-post *+h4{
    margin-top: 63px;
}
.blog-post h5,
.blog-post h6{
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.blog-post p{
    font-size: 18px;
    line-height: 26px;
}
.blog-post p+p{
    margin-top: 29px;
}
.blog-post blockquote{
    position: relative;
    display: flex;
    margin: 42px 0;
    padding: 32px 20px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #1062AA;
    background: #F1F2F6;
}
.blog-post blockquote:before{
    content: "";
    width: 35px;
    min-width: 35px;
    height: 28px;
    margin-right: 31px;
    background: url("../img/blog-post/blockquote.svg") no-repeat center center, transparent;
}
.blog-post blockquote p{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #1062AA;
}
.blog-post__general-title{
    margin-bottom: 70px;
    text-align: center;
}
.blog-post__top{
    position: relative;
    margin-bottom: 140px;
}
.blog-post__main-img img{
    margin: 0 auto;
}
.blog-post__header{
    position: absolute;
    left: 50%;
    bottom: -70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 945px;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-left: auto;
    margin-right: auto;
    background-color: #F1F2F6;
    z-index: 2;
}
.blog-post__title{
    padding: 20px 68px 30px 68px;
}
.blog-post__meta{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.blog-post__counters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 97px;
}
.blog-post__counter{
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1062AA;
    text-decoration: none;
}
.blog-post__counter:last-child{
    margin-right: 0;
}
a.blog-post__counter:hover{
    color: #F7B916;
}
.blog-post__counter svg{
    display: block;
    stroke: #1062AA;
}
a.blog-post__counter:hover svg{
    stroke: #F7B916;
}
.blog-post__counter span:first-child{
    margin-right: 15px;
}
.blog-post__categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
}
.blog-post-category{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 39px;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
}
.blog-post-category--cat-1{
    background-color: #1062AA;
}
.blog-post-category--cat-2{
    background-color: #6FC6AD;
}
.blog-post-category--cat-3{
    background-color: #F7B916;
}
.blog-post__content{
    width: 100%;
    max-width: 652px;
}
.blog-post-slider,
.blog-post-similar-article,
.blog-post .video__movie,
.blog-post .table,
.blog-post-accent{
    margin: 63px 0;
}
.blog-post-slider ul{
    margin-top: 52px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.blog-post-slider li{
    display: inline-block;
}
.blog-post-slider button{
    display: block;
    width: 8px;
    height: 8px;
    font-size: 0;
    line-height: 0;
    margin: 0 6px;
    background-color: rgba(129, 133, 156, 0.2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}
.blog-post-slider .slick-active button{
    background-color: #81859C;
}
.with-note{
    position: relative;
}
.blog-post-note{
    position: absolute;
    top: 100%;
    left: 100%;
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-width: 240px;
    margin-left: 127px;
}
.blog-post-note__arrow{
    min-width: 47px;
    margin-right: 23px;
    margin-bottom: 10px;
}
.blog-post-note__text{
    font-family: 'Caveat', cursive;
    font-size: 18px;
    line-height: 23px;
    color: #1062AA;
}
.blog-post-similar-article{
    display: flex;
    align-items: center;
}
.blog-post-similar-article img{
    max-width: 263px;
}
.blog-post-similar-article a{
    margin-left: 29px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    text-decoration: none;
    color: #333333;
}
.blog-post-similar-article a:hover{
    text-decoration-line: underline;
    color: #1062AA;
}
.blog-post .table{
    width: 100%;
    max-width: 100%;
    border: 1px solid #1062AA;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.blog-post table{
    width: 100%;
    border-collapse: collapse;
}
.blog-post tr{
    border-bottom: 1px solid #1062AA;
}
.blog-post tr:last-child{
    border-bottom: none;
}
.blog-post thead tr:last-child{
    border-bottom: 1px solid #1062AA;
}
.blog-post th,
.blog-post td{
    text-align: center;
    border-left: 1px solid #1062AA;
}
.blog-post th:first-child,
.blog-post td:first-child{
    text-align: left;
    border-left: none;
}
.blog-post th{
    padding: 13px 20px;
    background-color: #E5E5E5;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
}
.blog-post td{
    padding: 0 17px;
    font-size: 14px;
    line-height: 36px;
    color: #333333;
}
.blog-post-accent{
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}
.blog-post-accent img{
    max-width: 360px;
    margin-right: 30px;
}
.blog-cta{
    margin: 63px 0;
    padding: 55px 0 355px 0;
    background: url("../img/general/request-demo.svg") no-repeat bottom center, #1062AA;
    text-align: center;
    color: #ffffff;
}
.blog-cta__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}
.blog-cta__description{
    margin: 45px 0;
}
.blog-cta__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    margin: 0 auto;
    background-color: #F7B916;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #1062AA;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.blog-cta__btn:hover{
    background-color: #fff;
    color: #1062AA;
}
.blog-post-bottom{
    margin: 63px 0;
}
.blog-post-bottom__inner{
    display: flex;
    flex-wrap: wrap;
}
.blog-post-bottom__title{
    margin-right: 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.blog-post-bottom__items,
.blog-post-rating,
.blog-post-social{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.blog-post-rating__item{
    margin-right: 2px;
}
.blog-post-rating__item img,
.blog-post-rating__item svg{
    display: block;
}
.blog-post-social{
    margin-left: 138px;
}
.blog-post-social__item{
    margin-right: 24px;
}
.blog-post-social__item:last-child{
    margin-right: 0;
}
.blog-post-author{
    margin: 63px 0;
    padding: 30px 0;
    background-color: #F1F2F6;
}
.blog-post-author__inner{
    display: flex;
}
.blog-post-author__avatar{
    width: 98px;
    min-width: 98px;
    height: 98px;
    margin-right: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}
.blog-post-author__info{
    display: flex;
    flex-wrap: wrap;
}
.blog-post-author__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #333333;
}
.blog-post-author__about{
    font-size: 14px;
    line-height: 22px;
}
.blog-post-author__socials{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.blog-post-author__socials-item{
    margin-right: 25px;
}
.blog-post-subscribe{
    position: relative;
    margin: 63px 0;
    padding-top: 80px;
}
.blog-post-subscribe:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background: url("../img/blog-post/subscribe.svg") no-repeat top center;
}
.blog-post-subscribe__form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.blog-post-subscribe__text{
    width: 100%;
    max-width: 360px;
}
.blog-post-subscribe__title{
    font-family:'Montserrat',sans-serif;
    font-size: 30px;
    line-height: 37px;
}
.blog-post-subscribe__description{
    margin-top: 40px;
    font-size: 16px;
    line-height: 19px;
}
.inp-blog-post-subscribe,
.blog-post-subscribe__btn{
    width: 260px;
    height: 50px;
    margin-left: 30px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
}
.inp-blog-post-subscribe{
    padding: 0 15px;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
    border: 2px solid #1062AA;
}
.inp-blog-post-subscribe::-webkit-input-placeholder {
    color: #1062AA;
}
.inp-blog-post-subscribe::-moz-placeholder {
    color: #1062AA;
}
.inp-blog-post-subscribe:-ms-input-placeholder {
    color: #1062AA;
}
.inp-blog-post-subscribe:-moz-placeholder {
    color: #1062AA;
}
.blog-post-subscribe__btn{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    background-color: #1062AA;
    cursor: pointer;
}
.blog-post-subscribe__btn:hover{
    background-color: #F7B916;
}
.blog-post-read__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-post-read-item{
    width: 263px;
}
.blog-post-read-item__top{
    position: relative;
}
.blog-post-read-item__categories{
    position: absolute;
    top: 0;
    right: 0;
}
.blog-post-read-item__title{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    color: #333333;
}
.blog-post-read-item__title:hover{
    color: #1062AA;
    text-decoration: underline;
}
.blog-post-read-item__counters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}
.blog-post-read__more{
    margin-top: 80px;
    text-align: center;
}
.blog-post-read__more-btn{
    display: inline-block;
    width: 260px;
    height: 50px;
    line-height: 46px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #1062AA;
    font-weight: 500;
    font-size: 18px;
    color: #1062AA;
    text-decoration: none;
}
.blog-post-read__more-btn:hover{
    background-color: #1062AA;
    color: #ffffff;
}
#sidebar{
    width: 100%;
    max-width: 262px;
    margin-left: auto;
}
.blog-post__sidebar{
    width: 100%;
    background-color: #fff;
}
.blog-post-sidebar__author{
    margin-bottom: 50px;
}
.blog-sidebar-author{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.blog-sidebar-author__avatar{
    width: 68px;
    height: 68px;
    margin-bottom: 16px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}
.blog-sidebar-author__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #333333;
}
.blog-sidebar-author__name:hover{
    color: #F7B916;
}
.blog-sidebar-author__socials{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.blog-sidebar-author__socials-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    margin: 0 12px;
    border: 2px solid #1062AA;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.blog-sidebar-author__socials-item:hover{
    border: 2px solid #F7B916;
}
.blog-sidebar__articles{
    margin-bottom: 40px;
}
.blog-sidebar-articles{
    padding: 25px;
    background-color: #fff;
    border: 2px solid #1062AA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.blog-sidebar-articles__title{
    margin-bottom: 45px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #1062AA;
}
.blog-sidebar-articles__items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}
.blog-sidebar-articles__item{
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #F7B916;
}
.blog-sidebar-articles__item a{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
}
.blog-sidebar-articles__item:last-child{
    margin-bottom: 0;
    border-bottom: none;
}
.blog-sidebar-articles__item a:hover{
    color: #1062AA;
    text-decoration: underline;
}
.blog-sidebar__search{
    margin-bottom: 40px;
}
.blog-sidebar-search__form{
    position: relative;
}
.inp-blog-sidebar-search{
    width: 100%;
    height: 60px;
    line-height: 56px;
    padding: 20px 60px 20px 20px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    font-family:"Roboto",sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #807E7E;
    border: 2px solid #1062AA;
}
.inp-blog-sidebar-search::-webkit-input-placeholder {
    color: #807E7E;
}
.inp-blog-sidebar-search::-moz-placeholder {
    color: #807E7E;
}
.inp-blog-sidebar-search:-ms-input-placeholder {
    color: #807E7E;
}
.inp-blog-sidebar-search:-moz-placeholder {
    color: #807E7E;
}
.btn-blog-sidebar-search{
    position: absolute;
    top: 50%;
    right: 18px;
    margin-top: -14px;
    background-color: transparent;
    cursor: pointer;
}
.blog-sidebar__cta{
    margin-bottom: 40px;
}
.blog-sidebar-cta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 40px 20px;
    background-color: #1062AA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.blog-sidebar-cta__text{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}
.blog-sidebar-cta__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 220px;
    height: 50px;
    margin-top: 40px;
    background-color: #F7B916;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    line-height: 21px;
    color: #1062AA;
}
.blog-sidebar-cta__btn:hover{
    background-color: #fff;
}
.blog-sidebar-cloud{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -9px;
    margin-right: -9px;
}
.blog-sidebar-cloud__item{
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    margin: 9px;
    padding: 11px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #1062AA;
    border: 2px solid #1062AA;
}
/*Faqs page*/
.faqs a:hover{
    color: #F7B916180;
}
.faqs__items{
    width: 100%;
    margin-bottom: 75px;
    border: 2px solid #1062AA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}
.faqs-item{
    width: 100%;
    border-top: 1px solid #1062AA;
}
.faqs-item:first-child{
    border-top: none;
}
.faqs-item__question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 99px;
    padding: 0 55px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #1062AA;
    cursor: pointer;
}
.faqs-item__arrow{
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.faqs-item__arrow svg{
    width: 24px;
    fill: #1062AA;
}
.faqs-item__question_opened{
    background-color: #1062AA;
    color: #FFFFFF;
}
.faqs-item__question_opened .faqs-item__arrow{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faqs-item__question_opened .faqs-item__arrow svg{
    fill: #ffffff;
}
.faqs-item__content{
    padding: 40px 55px;
    /*border-top: 2px dashed #C4C4C4;*/
}
.faqs-item-answer{
    margin-bottom: 25px;
}
.faqs-item-answer:last-child{
    margin-bottom: 0;
}
.faqs-item-answer__title{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #1062AA;
    cursor: pointer;
}
.faqs-item-answer__content{
    padding: 25px 0 20px 0;
}
.faqs-item-answer__content p{
    margin-bottom: 0;
}
.faqs-item__content,
.faqs-item-answer__content{
    display: none;
}
.faqs__support{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 130px;
}
.support-rules{
    display: flex;
    align-items: center;
}
.support-rules__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
}
.support-rules__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    min-width: 32px;
    height: 32px;
    margin-left: 28px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #1062AA;
}