/*breadcrumbs*/
.breadcrumbs{
    padding-top: 20px;
}
.breadcrumbs__list{
    display: flex;
    flex-wrap: wrap;
}
.breadcrumbs__list-item{
    position: relative;
    font-size: 14px;
    line-height: 16px;
    color: #81859C;
}
.breadcrumbs__link{
    color: #81859C;
}
.breadcrumbs__list-item:not(:last-child){
    margin-right: 12px;
    padding-right: 17px;
}
.breadcrumbs__list-item:not(:last-child):after{
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    width: 5px;
    height: 8px;
    background: transparent url('../img/general/breadcrumbs-arrow.svg') center center no-repeat;
}
/*top*/
.top{
    padding: 143px 0 124px 0;
    background: transparent url('../img/verifier-online/top-bg.png') center center no-repeat;
    background-size: contain;
}
.top__inner{
    overflow-y: hidden;
}
.top__image{
    position: absolute;
    top: -180px;
    left: 615px;
}
.top__bg{
    position: absolute;
    top: -180px;
    left: 480px;
}
.top__bg-1{
    position: absolute;
    bottom: -400px;
    left: -400px;
    z-index: -1;
}
.top__bg-2{
    position: absolute;
    bottom: -250px;
    left: 710px;
    z-index: -1;
}
.top__image img,
.top__bg-2 img{
    max-width: initial;
}
.top__content{
    width: 100%;
    max-width: 566px;
}
.top__title{
    margin-bottom: 12px;
    font-size: 46px;
    line-height: 56px;
}
.top__description{
    margin-bottom: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}
.top-phrase{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 28px;
    color: #1062AA;
}
.top-phrase svg{
    margin: 0 10px;
}
.top-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 12px;
    line-height: 28px;
}
.top-list svg{
    margin: 0 8px;
}
.top-big{
    display: flex;
    justify-content: center;
    margin-top: 143px;
}
/*why*/
.why{
    padding-bottom: 90px;
}
.why__subtitle{
    width: 100%;
    max-width: 690px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.why__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.why-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 260px;
    margin: 50px 40px 0 40px;
    text-align: center;
}
.why-item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}
.why-item__title{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.why-item__divider{
    width: 250px;
    height: 1px;
    background-color: #F7B916;
}
.why-item__description{
    margin-top: 16px;
    font-size: 14px;
    line-height: 24px;
}
/*about*/
.about{
    padding-bottom: 131px;
}
.about__top{
    display: flex;
    justify-content: center;
    padding: 97px 0 115px 0;
    background-color: #F5F7FF;
}
.about__top-inner{
    display: flex;
    flex-wrap: wrap;
}
.about__top-icon-2{
    margin-top: auto;
}
.about__top-content{
    margin-left: 28px;
    margin-right: 22px;
    font-family: 'Montserrat', sans-serif;
}
.about__top-text-1{
    font-size: 64px;
    line-height: 78px;
}
.about__top-text-2{
    font-size: 18px;
    line-height: 22px;
}
.about-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.about-item:nth-child(even) .about-item__media{
    order: 2;
}
.about-item__content{
    width: 100%;
    max-width: 460px;
}
.about-item__title{
    margin-bottom: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
}
.about-item__description{
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
}
.about__numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 137px;
}
.about-number{
    width: 100%;
    max-width: 255px;
}
.about-number__text{
    margin-top: 18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 28px;
}
/*form*/
.form{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 68px 15px 101px 15px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: linear-gradient(121.65deg, #FF416F 0%, #0072D7 64.32%, #35C8CB 100%), #35C8CB;
    color: #FFFFFF;
}
.form__icon{
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.form__inner{
    width: 100%;
    max-width: 742px;
}
.form form{
    margin-top: 25px;
}
.form__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-inp{
    width: 100%;
    max-width: 460px;
    height: 50px;
    padding: 13px 33px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #81859C;
}
.form__divider{
    margin: 30px 0;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.form-label-upload{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    border: 2px solid #F7B916;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.form-label-upload:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.form-label-upload span{
    margin-left: 15px;
}
.form-submit-btn{
    position: relative;
    text-align: center;
    overflow: hidden;
}
.form-submit-btn_process,
.form-submit-btn_process:hover{
    color: #333333 !important;
    background-color: #fff !important;
    cursor: default!important;
}
.form-submit-btn__progress{
    display: none;
}
.form-submit-btn_process .form-submit-btn__progress{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #35C8CB;
    -webkit-transition: width 1.25s;
    -moz-transition: width 1.25s;
    -ms-transition: width 1.25s;
    -o-transition: width 1.25s;
    transition: width 1.25s;
}
.form-submit-btn__good,
.form-submit-btn__bad{
    display: none;
    position: relative;
}
.form-submit-btn__good:before,
.form-submit-btn__bad:before{
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.form-submit-btn__good:before{
    background-color: #35C8CB;
}
.form-submit-btn__bad:before{
    background-color: #ED654C;
}
/*benefits*/
.benefits{
    padding: 124px 0;
}
.benefits__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.benefits-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
    min-height: 280px;
    margin: 10px;
    padding: 30px 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-align: center;
}
.benefits-item:hover{
    box-shadow: -4px 4px 20px rgba(0, 114, 215, 0.2);
}
.benefits-item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: rgba(89, 62, 188, 0.05);
}
.benefits-item:hover .benefits-item__icon{
    background-color: transparent;
}
.benefits-item__title{
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.benefits-item__line{
    width: 250px;
    height: 1px;
    background: transparent url('../img/verifier-online/benefits-line.svg') center center no-repeat;
    background-size: cover;
}
.benefits-item__description{
    margin-top: 16px;
    font-size: 14px;
    line-height: 24px;
}
/*price*/
.price{
    background: linear-gradient(121.65deg, #FF416F 0%, #0072D7 64.32%, #35C8CB 100%), #35C8CB;
    transform: rotate(180deg);
}
.price__inner{
    padding: 70px 0 80px 0;
    transform: rotate(180deg);
}
.price__title{
    color: #FFFFFF;
}
.price__subtitle{
    margin-top: 11px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.price__tables{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 32px 0 64px 0;
}
.price-table{
    width: 100%;
    max-width: 400px;
    margin: 0 15px;
    background-color: transparent;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    overflow: hidden;
}
.price-table__head{
    margin-bottom: 2px;
    padding: 14px 0 7px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
}
.price-table--white .price-table__head,
.price-table--white .price-table__body{
    background-color: #fff;
    color: #333333;
}
.price-table--black .price-table__head,
.price-table--black .price-table__body{
    background-color: #333333;
    color: #FFFFFF;
}
.price-table__body{
    padding: 40px 20px;
}
.price-table-range{
    width: 100%;
    max-width: 326px;
    margin: 0 auto 32px auto;
    padding-top: 30px;
    text-align: center;
}
.price-table-range__slider{
    position: relative;
}
.price-table-range__steps{
    position: relative;
    top: -32px;
}
.price-table-range__step{
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}
.price-table-range__step:after{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #35C8CB;
}
.price-table-range__step:nth-child(1){
    left: 0;
}
.price-table-range__step:nth-child(2){
    left: 25%;
}
.price-table-range__step:nth-child(3){
    left: 50%;
}
.price-table-range__step:nth-child(4){
    left: 75%;
}
.price-table-range__step:nth-child(5){
    left: 100%;
}
.price-table-range__step-number{
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.price-table-range__slider-progress{
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #35C8CB;
}
.price-table-range__slider-progress-fill{
    position: absolute;
    top: -2px;
    height: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /* background: transparent url(../img/verifier-online/price-slider-range-fill.svg) center center no-repeat; */
    /* background-size: cover; */
    background: linear-gradient(
            121.65deg
            , #FF416F 0%, #0072D7 64.32%, #35C8CB 100%), #35C8CB;
    z-index: 3;
}
.price-table-range__slider-progress-thumb{
    position: absolute;
    top: 1px;
    width: 2px;
    height: 2px;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    touch-action: pan-y;
    z-index: 5;
}
.price-table-range__slider-progress-thumb:after{
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 10px;
    height: 10px;
    background: transparent url(../img/verifier-online/price-slider-range.svg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.price-table-range__value{
    margin-top: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}
.price-table-range__price{
    margin-top: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #81859C;
}
.price-table__btn{
    display: flex;
    justify-content: center;
}
.price-table__btn .btn{
    width: 170px;
}
.price-table__list{
    margin-top: 50px;
}
.price-table-list-item:not(:last-child){
    margin-bottom: 22px;
}
.price-table-list-item{
    display: flex;
}
.price-table-list-item--disabled{
    color: #81859C;
}
.price-table-list-item__icon{
    min-width: 25px;
    max-width: 25px;
    margin-right: 12px;
}
.price-table-list-item__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.price-table-list-item__text{
    margin-top: 4px;
    font-size: 14px;
    line-height: 24px;
}
.price__btn{
    display: flex;
    justify-content: center;
    margin-top: 42px;
}

@media all and (max-width: 767px){
    .top{
        padding: 60px 0;
        background: none;
    }
    .top__image{
        position: static;
        margin-bottom: 30px;
    }
    .top__image img{
        max-width: 100%;
    }
    .top-big{
        margin-top: 60px;
    }
    .about__top{
        padding: 50px 0;
        text-align: center;
    }
    .about__top-inner{
        flex-direction: column;
        align-items: center;
    }
    .about__top-icon-1{
        margin-bottom: 30px;
    }
    .about__top-icon-2{
        margin-top: 30px;
    }
    .about-item:nth-child(even) .about-item__media{
        order: -1;
    }
    .about-item__media{
        margin-bottom: 30px;
    }
    .about__numbers,
    .about-number{
        margin-top: 30px;
    }
    .form form,
    .form__row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-inp{
        max-width: 260px;
        margin-bottom: 30px;
    }
    .form-label-upload{
        padding: 0 15px;
        font-size: 10px;
    }
    .benefits{
        padding: 60px 0;
    }
    .price-table:not(:first-child){
        margin-top: 30px;
    }
}
.wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-height: 100vh;
}
.container,
.container-md{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.container{
    max-width: 1170px;
}
.container-md{
    max-width: 975px;
}
.clear:after,
.clear:before{
    content: "";
    display: table;
    clear: both;
}
.ovh{
    overflow: hidden;
}
/*progress*/
.progress{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #1062AA;
    z-index: 99;
}
.progress__bar{
    width: 0;
    height: 100%;
    background-color: #F7B916;
}
/*header*/
.header{
    padding-top: 31px;
}
.header a:hover{
    text-decoration: none;
}
.header__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.header-mobile-menu-toggle{
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #1062AA;
    z-index: 12;
}
.header-mobile-menu-toggle span{
    position: absolute;
    left: 10px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.header-mobile-menu-toggle span:nth-child(1){
    top: 14px;
}
.header-mobile-menu-toggle span:nth-child(2){
    top: 19px;
}
.header-mobile-menu-toggle span:nth-child(3){
    top: 24px;
}
.header-logo{
    width: 20%;
    margin-top: 4px;
}
.header-logo a{
    display: inline-block;
    height: 100%;
}
.header-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin-left: auto;
}
.header-search{
    position: relative;
    width: 300px;
    margin-left: auto;
}
.inp-header-search{
    width: 100%;
    height: 30px;
    padding: 0 40px 0 22px;
    border: 2px solid #1062AA;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    color: #1062AA;
}
.inp-header-search::-webkit-input-placeholder {
    color: #7F7E7E;
}
.inp-header-search::-moz-placeholder {
    color: #7F7E7E;
}
.inp-header-search:-ms-input-placeholder {
    color: #7F7E7E;
}
.inp-header-search:-moz-placeholder {
    color: #7F7E7E;
}
.btn-header-search{
    position: absolute;
    top: 50%;
    right: 15px;
    width: 19px;
    margin-top: -8px;
    cursor: pointer;
}
.btn-header-search svg{
    display: block;
    stroke: #1062AA;
}
.btn-header-search:hover svg{
    stroke: #F7B916;
}
.header-tel,
.header-login{
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
}
.header-tel{
    display: flex;
    flex-direction: column;
    margin-left: 46px;
}
.header-tel:hover{
    color: #F7B916;
    text-decoration: none;
}
.header-tel__text{
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 8px;
    line-height: 9px;
    color: #807E7E;
}
.header-login{
    margin-left: 52px;
}
.header-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    margin-left: 38px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    color: #ffffff;
    background-color: #1062AA;
}
.header-signup:hover{
    background-color: #F7B916;
    text-decoration: none;
}
.header-lang{
    position: relative;
    margin-left: 20px;
}
.header-lang__switch{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-lang__switch-text{
    margin: 0 11px;
    font-size: 14px;
    line-height: 30px;
    color: #333333;
}
.header-lang__switch-arrow{
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.header-lang__switch_active .header-lang__switch-arrow{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.header-lang__select{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100px;
    margin-top: 5px;
    padding: 2px 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #E6E7EB;
    z-index: 11;
}
.header-lang__item{
    padding: 4px 12px;
}
.header-lang__link{
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.header-lang__link_current,
.header-lang__link:hover{
    color: #81859C;
    text-decoration: none;
}
.header-navigation{
    margin-left: auto;
    margin-top: 23px;
}
.header-menu{
    display: flex;
}
.header-menu__item{
    position: static;
}
.header-menu__item:not(:first-child){
    margin-left: 60px;
}
.header-menu__link{
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 21px;
    color: #807E7E;
    cursor: pointer;
}
.header-menu__link:hover{
    text-decoration: none;
}
.header-menu__link:after{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 9px;
    background-color: #6FC6AD;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.header-menu__item:hover .header-menu__link:after{
    width: 100%;
}
.header-menu__arrow{
    width: 8px;
    height: 5px;
    margin-left: 10px;
    background: transparent url('../img/general/header/header-menu-arrow.svg') center center no-repeat;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.header-submenu{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    margin-top: -2px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}
.header-submenu__box{
    width: 25%;
    padding: 54px 25px 88px 25px;
}
.header-submenu__top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
}
.header-submenu__icon{
    height: 32px;
    margin-bottom: 22px;
}
.header-submenu__icon img,
.header-submenu__icon svg{
    max-height: 100%;
}
.header-submenu__link{
    position: relative;
    font-size: 15px;
    line-height: 18px;
    color: #1062AA;
}
.header-submenu__link:hover{
    text-decoration: none;
}
.header-submenu__link:hover:after,
.header-submenu__list-link:hover:after{
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 5px;
    height: 8px;
    margin-top: -4px;
}
.header-submenu__link:after{
    background: transparent url('../img/general/header/header-submenu-link.svg') center center no-repeat;
}
.header-submenu__list-link{
    position: relative;
    font-size: 15px;
    line-height: 26px;
    color: #333333;
}
.header-submenu__list-link:hover{
    color: #6FC6AD;
    text-decoration: none;
}
.header-submenu__list-link:after{
    background: transparent url('../img/general/header/header-submenu-list-link.svg') center center no-repeat;
}
.header-submenu-product{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-submenu-product img{
    max-width: 100px;
}

/*footer*/
.footer{
    margin-top: auto;
    padding: 45px 0 32px 0;
    background-color: #1062AA;
}
.footer-logo img{
    width: 70px;
    height: 52px;
}
.footer__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.footer__row:first-child{
    padding-bottom: 46px;
    border-bottom: 1px solid #F7B916;
}
.footer__row:last-child{
    padding-top: 37px;
}
.footer__col-l{
    width: 100%;
    max-width: 260px;
    margin-right: auto;
}
.footer__col{
    width: 100%;
    max-width: 165px;
    margin-left: 11%;
}
.footer-logo{
    display: flex;
}
.footer-contacts{
    margin-top: 45px;
    margin-bottom: 24px;
}
.footer-contacts__item{
    margin-bottom: 17px;
}
.footer-contacts__title{
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #E5E5E5;
}
.footer-contacts__tel,
.footer-contacts__tel:hover{
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    text-decoration: none;
    color: #F7B916;
}
.footer-socials{
    display: flex;
}
.footer-socials__item{
    width: 34px;
    margin-right: 15px;
}
.footer-socials__item:last-child{
    margin-right: 0;
}
.footer-socials__item svg{
    fill: #F7B916;
}
.footer-socials__item:hover svg{
    fill: #ffffff;
}
.footer-menu{
    margin-top: 34px;
}
.footer-menu__top{
    display: flex;
    justify-content: space-between;
}
.footer-menu__arrow{
    display: none;
}
.footer-menu__top-link{
    font-size: 18px;
    line-height: 21px;
    color: #F2F2F2;
}
.footer-menu__list{
    margin-top: 20px;
}
.footer-menu__list-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #E5E5E5;
}
.footer-copyright{
    font-size: 12px;
    line-height: 14px;
    color: #E5E5E5;
}
.footer-policy-link{
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #E5E5E5;
}
.footer a:not(.footer-contacts__tel):hover{
    text-decoration: underline;
}

/*faqs*/
.faqs{
    padding: 102px 0 132px 0;
}
.faqs a:hover{
    color: #F7B916;
    text-decoration: underline;
}
.faqs__list{
    max-width: 808px;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
}
.faq{
    padding-left: 30px;
    padding-right: 30px;
}
.faq:not(:last-child){
    margin-bottom: 38px;
    padding-bottom: 38px;
    border-bottom: 1px solid #1062AA;
}
.faq__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.faq__arrow{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq_opened .faq__arrow{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.faq__title{
    font-size: 24px;
    line-height: 24px;
    color: #1062AA;
}
.faq__content{
    display: none;
    margin-top: 30px;
    font-size: 18px;
    line-height: 28px;
}
.faq_opened .faq__content{
    display: block;
}
.faq ul li{
    padding-left: 12px;
}
.faq ul li:before{
    width: 4px;
    height: 4px;
    margin-top: 12px;
}
.faq ol{
    counter-reset: section;
}
.faq ol li:before{
    counter-increment: section;
    content: counter(section) ". ";
    position: static;
    color: #1062AA;
}

@media all and (min-width: 768px){
    /*header*/
    .header-menu__item:hover .header-submenu{
        display: flex;
    }
    .header-menu__item:hover .header-menu__arrow{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@media all and (min-width: 768px) and (max-width: 1024px){
    /*header*/
    .header{
        padding-top: 15px;
    }
    .header-top{
        justify-content: space-between;
    }
    .header-logo{
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .header-search{
        width: 200px;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .header-tel, .header-login, .header-search, .header-lang{
        margin-left: 0;
    }
    .header-navigation{
        width: 100%;
    }
    .header-menu{
        justify-content: space-between;
    }
    .header-menu__item:not(:first-child){
        margin-left: 0;
    }
    .header-submenu-product{
        display: none;
    }
    .header-submenu__box{
        width: 33.33333333333333%;
    }
    /*footer*/
    .footer__col-l,
    .footer__col{
        max-width: 25%;
        margin: 0;
    }
    .footer__col{
        padding-left: 15px;
    }
}
@media all and (max-width: 767px){
    /*general*/
    body{
        padding-top: 122px;
    }
    /*header*/
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        z-index: 11;
        background-color: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
    .header-mobile-menu-toggle{
        display: block;
    }
    .header-navigation_opened .header-mobile-menu-toggle span:nth-child(1){
        top: 19px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    .header-navigation_opened .header-mobile-menu-toggle span:nth-child(2){
        opacity: 0;
        left: -60px;
    }
    .header-navigation_opened .header-mobile-menu-toggle span:nth-child(3){
        top: 19px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    .header-top{
        width: 100%;
    }
    .header-logo{
        width: auto;
        height: 40px;
        margin-top: 0;
        margin-left: 15px;
    }
    .header-logo img{
        max-height: 100%;
    }
    .header-search{
        width: 100%;
        margin-top: 22px;
    }
    .header-signup{
        display: none;
    }
    .header-tel,
    .header-login,
    .header-lang{
        position: absolute;
        width: 40px;
        height: 40px;
        margin: 0;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        z-index: 11;
    }
    .header-tel__text{
        display: none;
    }
    .header-lang{
        top: 0;
        right: 15px;
        border: 2px solid #1062AA;
    }
    .header-lang__switch{
        justify-content: center;
    }
    .header-lang__switch-icon{
        display: none;
    }
    .header-lang__switch-arrow{
        display: none;
    }
    .header-lang__switch-text{
        margin: 0;
        line-height: 36px;
        color: #1062AA;
    }
    .header-login{
        top: 0;
        right: 70px;
        font-size: 0;
        line-height: 0;
        background: transparent url('../img/general/header/header-login-mobile.svg') center center no-repeat;
        background-size: cover;
    }
    .header-tel{
        top: 0;
        right: 125px;
        font-size: 0;
        line-height: 0;
        background: #1062AA url('../img/general/header/header-tel-mobile.svg') center center no-repeat;
    }
    .header-navigation{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        margin-top: 0;
        background-color: #fff;
        -webkit-transition: left 0.25s;
        -moz-transition: left 0.25s;
        -ms-transition: left 0.25s;
        -o-transition: left 0.25s;
        transition: left 0.25s;
        z-index: 10;
    }
    .header-navigation_opened .header-navigation{
        left: 0;
    }
    .header-menu{
        position: absolute;
        top: 70px;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0 15px;
        overflow-y: auto;
    }
    .header-menu{
        flex-direction: column;
    }
    .header-menu__item{
        width: 100%;
    }
    .header-menu__item:not(:first-child){
        margin-left: 0;
    }
    .header-menu__link{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .header-menu__link:after{
        display: none;
    }
    .header-menu__arrow{
        width: 14px;
        height: 10px;
        background-size: contain;
        margin-left: auto;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .header-menu__link_active .header-menu__arrow{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .header-submenu{
        position: static;
        box-shadow: none;
        padding: 10px 0;
    }
    .header-submenu-product{
        display: none;
    }
    .header-submenu__box{
        width: 100%;
        padding: 10px 0;
    }
    .header-submenu__top{
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
    }
    .header-submenu__icon{
        display: flex;
        justify-content: center;
        width: 50px;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .header-submenu__list{
        display: none;
        margin-top: 18px;
        margin-left: 60px;
    }
    .header-submenu__top{
        position: relative;
    }
    .header-submenu__link:after{
        display: none;
    }
    .header-submenu__top:after{
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 10px;
        height: 14px;
        margin-top: -7px;
        background: transparent url(../img/general/header/header-submenu-link.svg) center center no-repeat;
        background-size: contain;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
        cursor: pointer;
    }
    .header-submenu__top_active:after{
        -webkit-transform-origin: 40% 50%;
        -moz-transform-origin: 40% 50%;
        -ms-transform-origin: 40% 50%;
        -o-transform-origin: 40% 50%;
        transform-origin: 40% 50%;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .faqs{
        padding: 60px 0;
    }
    /*footer*/
    .footer__col-l,
    .footer__col{
        max-width: 100%;
        margin: 0;
    }
    .footer-logo,
    .footer-socials{
        justify-content: center;
    }
    .footer-socials{
        margin-bottom: 15px;
    }
    .footer-contacts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 24px;
    }
    .footer-contacts__item{
        margin-bottom: 0;
        text-align: center;
    }
    .footer-menu{
        margin-top: 15px;
    }
    .footer-menu__list{
        display: none;
        margin-top: 10px;
    }
    .footer-menu__arrow{
        display: block;
        cursor: pointer;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
    }
    .footer-menu__arrow_opened{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .footer-policy-link{
        margin-top: 10px;
    }
}
html, body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main{
    display: block;
}
table{
    border-collapse: collapse;
}
button, input, textarea, a, div{
    outline: none;
}
input[type="checkbox"],
input[type="radio"],
input[type="file"]{
    display: none;
}
.h1,.h2,.h3,.h4,.h5,.h6{
    font-weight: 700;
}
h1,h2,h3,h4,h5,h6,p,pre{
    margin: 0;
}
h1,h2,h3,h4,
.h1,.h2,.h3,.h4{
    font-family: 'Montserrat', sans-serif;
}
h5,h6,
.h5,.h6{
    font-family: 'Roboto', sans-serif;
}
h1,
.h1{
    font-size: 64px;
    line-height: 78px;
}
h2,
.h2{
    font-size: 36px;
    line-height: 44px;
}
h3,
.h3{
    font-size: 30px;
    line-height: 37px;
}
h4,
.h4{
    font-size: 24px;
    line-height: 29px;
}
h6,
.h6{
    font-size: 18px;
    line-height: 21px;
}
h2, h3, .h2, .h3 {
    text-align: center;
}
button, input, textarea, select{
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
}
img, svg{
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    color: #1062AA;
}
a, svg, button{
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
a:not(.btn):hover{
    text-decoration: underline;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul > li,
ol > li{
    position: relative;
}
ul > li:before,
ol > li:before{
    content: "";
    position: absolute;
    left: 0;
}
ol > li:before,
ul > li:before{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
ul > li:before{
    background-color: #1062AA;
}
/*input & btns*/
.inp, .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
}
.inp-white{
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
}
.inp-white::-webkit-input-placeholder {color: #FFFFFF;}
.inp-white::-moz-placeholder {color: #FFFFFF;}
.inp-white:-ms-input-placeholder {color: #FFFFFF;}
.inp-white:-moz-placeholder {color: #FFFFFF;}
.btn{
    font-weight: 500;
    cursor: pointer;
}
.btn-regular{
    background-color: #1062AA;
    color: #FFFFFF;
}
.btn-regular:hover,
.btn-white:hover{
    background-color: #F7B916;
    color: #1062AA;
}
.btn-white{
    background-color: #fff;
    color: #1062AA;
}
.btn-p{
    color: #1062AA;
    border: 2px solid #1062AA;
    background-color: transparent;
}
.btn-p:hover {
    color: #ffffff;
    border: 2px solid #1062AA;
    background-color: #1062AA;
}
.btn-gold,
.btn-gold-white{
    background-color: #F7B916;
    color: #333333;
}
.btn-gold:hover{
    background-color: #1E0338;
    color: #FFFFFF;
}
.btn-gold-white:hover{
    background-color: #FFFFFF;
}
.btn-gold-empty{
    border: 2px solid #F7B916;
    background-color: transparent;
    color: #FFFFFF;
}
.btn-gold-empty:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: #333333;
}
/*modal*/
.modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: rgba(51,51,51,0.5);
    z-index: 99;
}
.modal__window{
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #1062AA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.modal__close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 33px;
    height: 33px;
    background: transparent url('../img/general/modal-close.svg') center center no-repeat;
    cursor: pointer;
}
/*video*/
.video{
    width: 100%;
    max-width: 807px;
    margin: 0 auto;
    border: 2px solid #1062AA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.video-item{
    position: relative;
    padding-top: 56.25%;
    background-repeat: no-repeat;
    background-size: cover;
}
.video-item:not(.video_playing):before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    z-index: 1;
}
.video-play{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    cursor: pointer;
    z-index: 2;
}
.video-play path{
    stroke: #1062AA;
    fill: transparent;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.video-play:hover path{
    stroke: #F7B916;
    fill: #F7B916;
}
.video-item iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}